<!DOCTYPE html>
<h1>Welcome To The Systems Engineering Message Board</h1>

<h2>Messages:</h2>

<hr style="color:lightblue">
<ul>
    <% @tasks.each() do |task| %>
      <form action="/delete/<%=task.id%>" method="post">
  <article> 
        <h3 style="color:<%="#{task.get_header_color}"%>"><%="#{task.header}"%> </h3>

        <p id="blogp"><%= "#{task.paragraph.gsub("\n",'<br>')}" %></p> 
      <button  type="submit" style="background-color: lightblue; color: floralwhite; border:none; font-size: 16px;padding: 15px 32px; display: inline-clock;cursor:pointer">Delete</button>
      </article>
      <% end %>
</form>
</ul>
<br>
<hr style="color:lightblue">
<br>
<h2>Create a new message:</h2>

<form action="/tasks" method="post">
  <div align="left">
   <p>Message Title</p>
  <input id="title" name="title" type="text">
   <p>Message Description</p>
  <textarea id="description" name="description" type="text" rows="4" cols="50"></textarea>
  </div>
  <div align="left">
   <p>Message Owner</p>
  <input id="owner" name="owner" type="text">
  </div>
  <div align="left">
   <p>Message Priority</p>
  <select id="priority" name="priority" >
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select> 
  </div>
  <div align="left">
   <p>Message Duration</p>
  <select id="duration" name="duration" >
    <option value=30>30 Seconds</option>
    <option value=3600>1 Hour</option>
    <option value=43200>12 Hours</option>
    <option value=86400>1 Day</option>
  </select> 
</div>
<br>
  <button type="submit">Add task</button>
</form>
