<!DOCTYPE html>
<html>
  <head>
<style>
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
h1 {
  color: black;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}

h2 {
  color: grey;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}

h3 {
  color: grey;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}
p {
  color: grey;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}

#blogp{
  color: grey;
  font-size:90%;
  font-family: "Times New Roman";
  font-style: italic
}

    </style>
  </head>
<h1>Welcome To The Systems Engineering Message Board</h1>

<h2>Messages:</h2>

<ul>
    <% @tasks.each() do |task| %>
      <article>
        <h3><%="#{task.header}"%> </h3>
        <p id="blogp"><%= " -> #{task.paragraph}" %></p> 
      </article>
            <% end %>
</ul>
<br>
<h2>Create a new message:</h2>

<form action="/tasks" method="post">
  <div align="left">
   <p>Message Title</p>
  <input id="title" name="title" type="text">
   <p>Message Description</p>
  <textarea id="description" name="description" type="text" rows="4" cols="50"></textarea>
  </div>
  <div align="left">
   <p>Message Owner</p>
  <input id="owner" name="owner" type="text">
  </div>
  <div align="left">
   <p>Message Priority</p>
  <select id="priority" name="priority" >
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select> 
  </div>
  <div align="left">
   <p>Message Duration</p>
  <select id="duration" name="duration" >
    <option value="1 day">1 Day</option>
    <option value="12 hours">12 Hours</option>
    <option value="1 hour">1 Hour</option>
  </select> 
  </div>
  <button type="submit">Add task</button>
</form>
